<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body>
        <div class="Conteiner">
            <FONT SIZE=6>Welcome to Home Page,</FONT> <FONT SIZE=6 COLOR="red">{{name}}</FONT>
            <h3></h3>
            <FONT SIZE=6>This is the full home page</FONT>
        </div>
    </body>
</html>
