<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body>
        <div class='Conteiner'>
            <form action=''>
                <div class="mb-3">
                    <lavel for="searchMovie" class="form-label">search for Movie:</lavel>
                    <input type="text" class="form-control" name="searchMovie"/>
                </div>
                <button type="submit" class="btn btn-primary">search</button>
            </form>
            searching for {{searchTerm}}
        </div>
    </body>
</html>